<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capstone Application</title>
</head>

<body>
<h1>Capstone Social Media Application</h1>
<br>
<br>
<h2> Post your message here ...</h2>
<br>
<br>
<form action="/" method="post">
    <input name="name" placeholder="Name">
    <input name="post" placeholder="Post Content">
    <input type="submit" value="Submit">
</form>
<br>
<br>
<h2> Submitted posts ...</h2>
<br>
<br>
{% for post in posts %}
<div>{{ post[1] + ' : ' + post[2] }}</div>
<br>
{% endfor %}
</body>
</html>
