<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capstone Application</title>
</head>
<style>
body {background-color: powderblue;}
h1   {color: blue;}
h2   {color: white;}
p    {color: red;}

</style>
<body bgcolor="teal">
<h1>Capstone Social Media Application</h1>
<br>
<br>
<h2> Post your message here ...</h2>
<br>
<br>
<form action="/" method="post">
    <input name="name" placeholder="Name">
    <input name="post" placeholder="Post Content">
    <input type="submit" value="Submit">
</form>
<br>
<br>
<h2> Submitted posts ...</h2>
<br>
<br>
{% for post in posts %}
<div><font color="white" face="Aerial" size="1">{{ post[1] + ' : ' + post[2] }}</font></div>
<br>
{% endfor %}
</body>
</html>
